html{
  margin:0px;
  padding:0px;
  font-family:'raleway';
}

body{
  color:#212121;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.wrapper{
  min-height: 100%;
}

.container{
    width:95%;
    max-width:1200px;
    margin:auto;
}

p{
  font-size:20px;
  line-height:30px;
  }

p a {
  text-decoration: none;
  color:#212121;
  border-bottom:1px solid #00ff00;
 }

 header{
   width:100%;
   font-family:'raleway';
   font-size:25px;
   font-weight:600;
   margin-top:20px;
   margin-bottom:20px;
 }

header .logo{
  height:100px;
}

header a{
  color:#212121;
}

.navigation{
  float:right;
  margin-top:35px;
}

.navigation a{
  display:inline-block;
  float:right;
  margin-left:50px;
  text-decoration: none;
  color:#212121;
  box-shadow: inset 0 -8px 0 #00ff00;
  -webkit-transition: padding 100ms;
  -moz-transition: padding 100ms;
  -ms-transition: padding 100ms;
  -o-transition: padding 100ms;
  transition: padding 100ms; 
}

.navigation a:hover{
  padding-bottom:5px;
}

brand{
font-size:50px;
font-weight:600;
border-bottom:12px solid #00ff00;
line-height:17px;
display:inline-block;
width:55px;
margin-top:35px;
}

hr{
  width:50px;
  margin:auto;
  padding-top:50px;
  padding-bottom:50px;
}

.homepagebox{
  width:800px;
  text-align:center;
  margin:auto;
  margin-top:50px;
}

.homepagesplash{
   font-weight:800;
   font-size:90px;
 }

.greenunderline{
  box-shadow: inset 0 -25px 0 #00ff00;
}

.greenunderline:after{
  content:"";
  width:100%;
  border-bottom:12px solid #00ff00;
  display:block;
}

.opensans{
  font-family:"open sans";
}

.homepagesub{
  font-size:30px;
  line-height:40px;
  font-weight:200;
}

.homepagebox p{
  text-align:center;
}

footer{
  width:100%;
  background-color:#f3f3f3;
  height:200px;
  text-align:center;
  color:#434343;
  margin-top:50px;
  font-size:14px;
}

.footerbrand{
  font-size:50px;
  font-weight:600;
  display:inline-block;
  line-height:200px;
}

.footerinfo{
  font-size:20px;
  padding:10px;
  display:inline-block;
  text-align:left;
}



/* blog post styling */

.postcontainer{
  width:100%;
  max-width:685px;
  margin-left:100px;
  margin-top:100px;
}

.posttitle{
font-size:60px;
font-weight:800;
margin-bottom:15px;
}

.posttitle:after{
  content:'';
    width: 150px;
    display: block;
    border-bottom: 8px solid #00ff00;
    margin-left: -10px;
    margin-top:-15px;
}

.subtitle{
font-size:30px;
font-weight:300;
}

blockquote{
  border-left:8px solid #00ff00;
  padding-left:5px;
  font-style:italic;
}