html{
  margin:0px;
  padding:0px;
  font-family:'raleway';
}

body{
  color:#212121;
  margin:0;
  padding:0;
}

p{
  font-family:'open sans';
  font-size:20px;
  }

p a {
  text-decoration: none;
  color:#212121;
  border-bottom:1px solid #00ff00;
 }

 h1{
   font-family:'raleway';
   font-weight:600;
   font-size:50px;
 }

 h1:after{
    width: 100px;
    display: block;
    border-bottom: 8px solid #00ff00;
    margin-left: 143px;
    margin-top: -15px;
    content: '';
 }

 header{
   width:100%;
   font-family:'raleway';
   font-size:30px;
   font-weight:600;
 }

header .logo{
  height:100px;
}

.navigation{
  float:right;
  margin-top:35px;
}

.navigation a{
  display:inline-block;
  float:right;
  margin-left:50px;
  text-decoration: none;
  color:#212121;
}

.navigation a:hover:after{
  border-bottom:4px solid #00ff00;
}

brand{
font-size:50px;
font-weight:600;
border-bottom:12px solid #00ff00;
line-height:17px;
display:inline-block;
width:55px;
margin-top:35px;
}

footer{
  width:100%;
  background-color:#f3f3f3;
  margin:50px;
  height:200px;
}

.footerbrand{
  font-size:50px;
  font-weight:600;
  float:left;
  padding:10px;
}

.footerinfo{
  font-family:"open sans";
  font-size:20px;
  padding:10px;
  float:left;
}
