html{
  margin:0px;
  padding:0px;
}

body{
 
}

a {
  
 }

 h1{
   font-family:'raleway';
   font-weight:600;
   font-size:50px;
 }

 h1:after{
    width: 100px;
    display: block;
    border-bottom: 8px solid #00ff00;
    margin-left: 143px;
    margin-top: -15px;
    content: '';
 }


