html{
  margin:0px;
  padding:0px;
  font-family:'raleway';
}

body{
  color:#212121;
}

p{
  font-family:'open sans';
  font-size:20px;
  }

a {
  text-decoration: none;
  color:#212121;
 }

 a:after{
   border-bottom:1px solid #00ff00;
   display:block;
   content:'';
 }

 h1{
   font-family:'raleway';
   font-weight:600;
   font-size:50px;
 }

 h1:after{
    width: 100px;
    display: block;
    border-bottom: 8px solid #00ff00;
    margin-left: 143px;
    margin-top: -15px;
    content: '';
 }

 header{
   width:100%;
   font-family:'raleway';
   font-size:30px;
   font-weight:600;
 }

header .logo{
  height:100px;
}

.navigation{
  float:right;
  margin-top:35px;
}

.navigation a{
  display:inline-block;
  float:right;
  margin-left:50px;
}



