@media (max-width: 1024px) {

.homepagebox{
  width:100%;
}

.homepagesplash{
   font-size:15vw;
 }

header{
    font-size:20px;
    margin-top:10px;
}

.navigation a{
    margin-left:30px;
}

.tombox img{
    width:200px;
}

.tombox h2{
    font-size:30px;
}

.tombox h2, .tombox p{
    padding-left:100px;
}

.postcontainer{
    margin-left:0;
}


}
