---
---

{% include head.html %}

<div class="container">

<header>
<a href="/"><brand>!&</brand></a>

<div class="navigation">
<a href="/about">about</a>
<a href="/work">work</a>
<a href="/blog">writing</a>
</div>

</header>

<h1>Yes! And...</h1>

<p>A consulting practice from Tom Critchlow helping companies define and build digital marketing capabilities. Specialities include content marketing, SEO, team building and speaking in a British accent.</p>

</div>
{% include footer.html %}

{% include googleanalytics.html %}
