---
---

{% include head.html %}

<div class="wrapper">

    <div class="container">

    {% include header.html %}

    <div class="homepagebox">
        
        <div class="homepagesplash">
            Yes! <span class="greenunderline">and<span class="opensans">...</span></span>
        </div>

        <div class="homepagesub">A boutique consulting practice helping companies define and build digital marketing capabilities.</div>

        <hr>

        <div class="threebox">
            <h2>Strategy Workshops</h2>
            <p>Today's digital landscape moves fast and breaks things. How do you create a responsive strategy to keep up? We craft in-person strategy workshops to dive into the most pressing issues your business is facing and respond.</p>
        </div>

        <div class="threebox">
            <h2>Content Marketing</h2>
            <p>Audience development, SEO, technology and content play well together while maintaining an editorial vision</p>
        </div>

        <div class="threebox">
            <h2>Building Teams</h2>
            <p>With experience hiring, training and leading teams we can help you build high performance teams</p>
        </div>

        <hr>

        <div class="quotebox">
            Will you climb aboard a rocketship with me?
        </div>

        <hr>

        <div class="tombox">
            <img src="/images/tomsmall.jpg" />
            <h2>Who's running this thing anyway?</h2>
            <p>Well I'm glad you asked - <span class="brandsmall">Yes! and...</span> is run by Tom Critchlow. That's me. <a href="/about">Learn more about me here.</a></p>
        </div>

        <hr>

        <h2>Clients</h2>
        
    </div>


    </div>
    {% include footer.html %}

</div>

{% include googleanalytics.html %}
