---
---

{% include head.html %}

<div class="wrapper">

    <div class="container">

    {% include header.html %}

    <div class="homepagebox">
        
        <div class="homepagesplash">
            Yes! <span class="greenunderline">and<span class="opensans">...</span></span>
        </div>

        <div class="homepagesub">A consulting practice helping companies define and build digital marketing capabilities.</div>

        <hr>

    </div>


    </div>
    {% include footer.html %}

</div>

{% include googleanalytics.html %}
