<footer>

<div class="threebox">
    <p><strong><span class="brandsmall">Yes! and...</span> consulting</strong></p>
    <p>Designed & built with love in Brooklyn, NY</p>
</div>

<div class="threebox">
    <p><strong><span class="brandsmall">Yes! and...</span> consulting</strong></p>
    <p>Designed & built with love in Brooklyn, NY</p>
</div>

<div class="threebox">
    <p><strong><span class="brandsmall">Yes! and...</span> consulting</strong></p>
    <p>Designed & built with love in Brooklyn, NY</p>
</div>


</footer>