{% include head.html %}

<div class="wrapper">

    <div class="container">

    <header>
    <brand>!&</brand>

    <div class="navigation">
    <a href="/about">about</a>
    <a href="/work">work</a>
    <a href="/blog">writing</a>
    </div>

    </header>

    <div class="postcontainer">
    <div class="posttitle">{{page.title}}</div>
    {% if page.subtitle %}<div class="subtitle">{{page.subtitle}}</div>{% endif %}

    {{page.content}}
    </div>

    </div>
    {% include footer.html %}

</div>

{% include googleanalytics.html %}
